/* Appearance consistent with Wicket's default error pages. */

body {
	font-family: 'Lucida Grande', 'Lucida Sans', 'Helvetica', sans-serif;
	font-size: 9pt;
	line-height: 1.3em;
	color: #6F6F6F;
	padding: 0 .5em;
}
h1,h2,h3,h4,h5,h6,h7,h8 {
	color: #E9601A;
}
h1 {
	font-size : 1.5em;
}
h2 {
	font-size : 1.4em;
}
h3 {
	font-size : 1.3em;
}
h4 {
	font-size : 1.2em;
}
p {
	width: 35em;
}
pre, table, td { 
	font-family : 'MS Trebuchet', 'Verdana', Arial, Helvetica; font-size : 10pt; line-height:1.2em;
}
form.labelAbove label {
	display: block;
}
form.labelAbove label .note {
	font-size: 85%;
}
form.labelAbove div.row {
	margin: .75em 0;
}

form.labelAbove textarea {
  font-family: Monaco, 'Lucida Sans Typewriter', monospace;
  font-size: 9px;
  width: 33em; 
  height: 18em;
}

.feedback ul {
	background: #FFD39F;
	padding: .5em;
	margin: 0 0 .5em 0;
	list-style-type: none;
	border: dashed 1px #E9601A;
	width: 35em;
	color: black;
}

ul.source-list {
	list-style: none;
	margin: 0;
	padding: 0;
}

ul.source-list li {
	padding: 0;
	margin: .5em 0;
}

tr.a, tr.even {
	background: #E6E6E5;
}

tr.b, tr.odd {
	background: #F5F5F5;
}

a img {
	border: none;
}

/* DataView */

tr.navigation div {
	height: 2em; /* for IE 6 */
}

tr.navigation a, tr.navigation em {
	font-size: 125%;
	padding: .2em;
}

tr.navigation a {
	text-decoration: none;
}

tr.navigation a:hover {
	background-color: #DFDFFF;
}

tr.navigation em span {
	font-size: 150%;
}

tr.navigation td {
	margin: 3em;
}

tr.headers th {
	background-position: right; 
	background-repeat: no-repeat;
	padding: .2em 13px;
}

tr.headers th.wicket_orderDown 
{
	background-color: #DFDFFF;
	background-image: url(arrow_up.png); 
}

tr.headers th.wicket_orderUp 
{
	background-color: #DFDFFF;
	background-image: url(arrow_down.png); 
}

/* Modal Windows */

div.wicket-modal div.w_content_2 div.w_content_3 {
	border: none;
	padding: 0 1.5em;
}