<html>
<head>
<link wicket:id="dataStylesheet" rel="stylesheet" type="text/css" href="../../../../../../../../databinder-components/src/main/resources/net/databinder/components/DataStyleSheet.css" />
</head>
<body>
	
<p>Some content.</p>

<wicket:panel>

	<ul class="source-list">
		<li wicket:id="list"><a wicket:id="link" href="Products.html"><span wicket:id="title">One item</span></a></li>
<wicket:remove>
		<li><a href="Products.html"><span>Another item</span></a></li>
</wicket:remove>
	</ul>


</wicket:panel>

</body>
</html>