<html>
<head>
	<link rel="stylesheet" type="text/css" href="../../../../../../../../databinder-components/src/main/resources/net/databinder/components/DataStyleSheet.css" />
</head>
<body>

<wicket:panel>

<div class="feedback" wicket:id="feedback">
</div>

<form wicket:id="registerForm" class="labelAbove">

	<div wicket:id="topFormSocket" />

	<div class="row">
		<label>Username</label>
		<input wicket:id="username" type="text" value="foo" />
	</div>
	<div class="row">
		<label>Password</label>
		<input wicket:id="password" type="password" value="password" />
	</div>
	<div class="row">
		<label>Retype Password</label>
		<input wicket:id="passwordConfirm" type="password" />
	</div>
	<div class="row" wicket:id="rememberMeRow">
		<input wicket:id="rememberMe" id="rememberMe"type="checkbox" />
		<label style="display:inline" for="rememberMe">Always sign in automatically</label>
	</div>
	
	<div wicket:id="bottomFormSocket" />
	
	<p> <input wicket:id="submit" type="submit" name="submit" value="Register"/> </p>

</form>
	
</wicket:panel>
</body>

</html>
