<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
<head>
<title wicket:id="title">Update Account</title>
<link wicket:id="dataStylesheet" rel="stylesheet" type="text/css" href="../../../../../../../../databinder-components/src/main/resources/net/databinder/components/DataStyleSheet.css" />
<wicket:link><link rel="stylesheet" type="text/css" href="DataSignInPage.css" /></wicket:link>
</head>
<body>

<div id="box">
	<p><wicket:message key="data.auth.update">Update Account</wicket:message></p>
	<div wicket:id="profileSocket">Register goes here</div>
	
</div>
</body>
</html>
