<html>
<head>
	<link rel="stylesheet" type="text/css" href="../../../../../../../../databinder-components/src/main/resources/net/databinder/components/DataStyleSheet.css" />
</head>
<body>

<wicket:panel>

<form wicket:id="registerForm" class="labelAbove">
<div wicket:id="profile">

	<div wicket:id="highFormSocket" />

	<div class="row">
		<label wicket:id="username-label">Username</label>
		<span wicket:id="username-border"><input wicket:id="username" type="text" value="foo" /></span>
	</div>
	<div class="row">
		<label wicket:id="password-label">Password</label>
		<span wicket:id="password-border"><input wicket:id="password" type="password" value="password" /></span>
	</div>
	<div class="row">
		<label wicket:id="passwordConfirm-label">Retype Password</label>
		<span wicket:id="passwordConfirm-border"><input wicket:id="passwordConfirm" type="password" /></span>
	</div>
	<div class="row" wicket:id="rememberMeRow">
		<input wicket:id="rememberMe" id="rememberMe"type="checkbox" />
		<label style="display:inline" for="rememberMe"><wicket:message key="data.auth.remember">Always sign in automatically</wicket:message></label>
	</div>
	
	<div wicket:id="lowFormSocket" />
	
	<p> <input wicket:id="submit" type="submit" name="submit" value="Register"/> </p>

</div>
</form>
	
</wicket:panel>
</body>

</html>
