<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
<head>
<title>Please sign in</title>
<link wicket:id="dataStylesheet" rel="stylesheet" type="text/css" href="../../../../../../../../databinder-components/src/main/resources/net/databinder/components/DataStyleSheet.css" />
<link wicket:id="signinStylesheet" rel="stylesheet" type="text/css" href="DataSignInPage.css" />
</head>
<body>

<div id="box">
	
	<p wicket:id="gotoRegister">
		Don't have an account? 
		<a wicket:id="register" href="DataRegisterPanel.html">Register now</a>.
	</p>
	
	<p wicket:id="gotoSignIn">
		Already have an account? 
		<a wicket:id="signIn" href="DataSignInPanel.html">Sign in</a>.
	</p>
	
	<div wicket:id="signInPanel">
	Sign in goes here
	</div>
	
	<div wicket:id="registerPanel">
	Register goes here
	</div>
	
</div>
</body>
</html>
