<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
<head>
<title wicket:id="title">Please sign in</title>
<link wicket:id="dataStylesheet" rel="stylesheet" type="text/css" href="../../../../../../../../databinder-components/src/main/resources/net/databinder/components/DataStyleSheet.css" />
<wicket:link><link rel="stylesheet" type="text/css" href="DataSignInPage.css" /></wicket:link>
</head>
<body>

<div id="box">
	
	<p wicket:id="profileLinkWrapper">
		<wicket:message key="data.auth.pre_register_link">Don't have an account? </wicket:message>
		<a wicket:id="profileLink" href="DataRegisterPanel.html"><wicket:message key="data.auth.register_link">Register now</wicket:message></a>.
	</p>
	
	<p wicket:id="signinLinkWrapper">
		<wicket:message key="data.auth.pre_sign_in_link">Already have an account?</wicket:message>
		<a wicket:id="signinLink" href="DataSignInPanel.html"><wicket:message key="data.auth.sign_in_link">Sign in</wicket:message></a>.
	</p>
	
	<div wicket:id="signinSocket">
	Sign in goes here
	</div>
	
	<div wicket:id="profileSocket">
	Profile goes here
	</div>
	
</div>
</body>
</html>
