<html>
<head>
	<link rel="stylesheet" type="text/css" href="../pages/data-app.css" />
</head>
<body>
<wicket:panel>

<span wicket:id="signedInWrapper">
	<span wicket:id="username">cook4all</span> 
	| 
	<a wicket:id="profile" href="#"><wicket:message key="data.auth.status.account">Account</wicket:message></a>
	<wicket:enclosure>
		| 
		<a wicket:id="admin" href="#"><wicket:message key="data.auth.status.admin">Admin</wicket:message></a>
	</wicket:enclosure>
	| 
	<a wicket:id="signOut" href="#"><wicket:message key="data.auth.status.sign_out">Sign out</wicket:message></a>
</span>
<a wicket:id="signIn" href="DataSignInPage.html"><wicket:message key="data.auth.status.sign_in">Sign in</wicket:message></a>

</wicket:panel>
</body>
</html>
