body {
	font-family: 'Lucida Grande', 'Lucida Sans', 'Helvetica', sans-serif;
	font-size: 9pt;
	line-height: 1.3em;
	color: #6F6F6F;
	padding: 0 .5em;
}
h1,h2,h3,h4,h5,h6,h7,h8 {
	color: #E9601A;
}
h1 {
	font-size : 1.5em;
}
h2 {
	font-size : 1.4em;
}
h3 {
	font-size : 1.3em;
}
h4 {
	font-size : 1.2em;
}
p {
	width: 35em;
}
