body, td, th, select, input, li {
  font-family: 'Lucida Sans', 'Lucida Sans Unicode', 'Lucida Grade', Lucida, LucidaSans, Helvetica, sans-serif;
}
#contentBox, #contentBox li {
  font-family: 'Lucida Bright', 'lucidabright', 'Lucida Serif', Georgia, serif;
}
#banner {
  padding: 10px;
}
#breadcrumbs {
  background: white;
  border-color: #DDD;
  color: #999;
  font-size: 7pt;
}
#leftColumn {
  background: white;
  margin: 0;
  width: 11em;
  border: none;
}
#bodyColumn{
  margin-left: 13em;
}
#navcolumn {
  padding-top: 1.2em;
}
#navcolumn h5 {
  display: none;
}
#navcolumn li {
  font-size: 8pt;
  line-height: 2;
  font-weight:bold;
}
#navcolumn li.expanded {
  background-image: none;
}
#navcolumn li a, #navcolumn li.group {
  font-weight:normal;
}
#navcolumn li.grouped {
  margin-left: .6em;
}
#leftColumn a, #leftColumn a:visited {
  border: none;
}
#navcolumn li.expanded a, #navcolumn li.none a {
  padding-bottom: .2em;
}
#poweredBy img {
  border: none;
  margin-top: 30px;
}
a:link {
  color: #4F7F47;
  padding: .2em 0 0 0;
  border-bottom: solid 1px #C7DFC3;
}
a:visited  {
  color: #666;
  padding: .2em 0 0 0;
  border-bottom: solid 1px #bbb;
}
#contentBox a:hover, #navcolumn li a:hover {
  color: #159800;
  border-bottom: solid 1px #159800;
}
.section {
  padding: 0;
}
#contentBox, #contentBox p, #contentBox li {
  color: #444;
  font-size: 10pt;
  line-height: 1.5;
}
#contentBox ul, #contentBox ol {
  margin-left: 0;
  padding-left: 0em;
}
#contentBox ol li {
  list-style: decimal inside;
}
#contentBox li {
  line-height: 1.5;
}
#contentBox p {
  margin: 1.5em 0 0 0;
  width: 31em;
}
#contentBox p + p {
   text-indent:1.5em;
   margin-top:0;
}
#contentBox h1, h2, h3, h4, dt {
  font-weight: normal;
  margin-bottom: 0em;
  background: none;
  border: none;
  padding: 0;
  color: #555;
  font-weight: normal;
}
#contentBox h1 {
  font-size: 218%;
}
#contentBox h2 {
  font-size: 164%;
  line-height: .91;
  margin: .91em 0;
}
#contentBox h3 {
  font-size: 145%;
  line-height: 1.03;
  margin: 1.03em 0;
}
#contentBox h4, dt a{
  font-size: 118%;
  margin: 1.27em 0;
  line-height: 1.27;
}
dl, dt {
  border: none;
  background: none;
  padding: 0;
  margin: 0
}
#contentBox dl dt a:hover {
  background-color: transparent;
  border: none;
  color: #555;
}
dl hr {
  display: none;
}
dd {
  padding: 0;
  margin: 0;
}
.source {
  border: none;
  padding:0;
  margin-left: 0;
}
.source pre, pre, tt {
  font-family: 'Lucida Sans Typewriter', monospace;
  font-size: 85%;
}
#footer {
  padding-top: 2em;
  padding-bottom: 0;
  font-size: 7pt;
  color: #888;
}